.background-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 0, 2)), url("../media/team.jpg");
    background-position: 50% 50%;
    overflow: hidden;
    box-sizing: content-box;
    padding: 150px 0px;
    backdrop-filter: blur(0px);
}

.contact-content {
    width: 80%;
    margin: 0 auto;
    background-image: url("../media/team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.contact-text {
    padding: 10px 25px;
    h2 {
        text-align: left;
    }
}

.contact-mail {
    text-align: center;
    font-size: 27px;
    padding: 50px 0px;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: #00cac4;
        }
    }
}

@media screen and (min-width: 992px) {
    .contact-text {
        padding: 10px 35px;
    }
}

@media screen and (min-width: 1200px) {
    .background-fluid {
        padding: 180px 0px;
    }

    .contact-content {
        width: 60%;
    }

    .contact-mail a, a:hover, a:focus{
        font-size: 40px;
        text-decoration: none;
        color: white;
    }
}