.whatsapp {
  position: fixed;
  bottom: 70px;
  left: 40px;
  z-index: 20;
  height: 40px;
  width: 50px;
}

.top-button {
  background: rgba(0, 160, 155, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  border: none;
  border-radius: 100px;
  z-index: 20;
  color: white;
}

.top-button:hover {
  background-color: #00a09b;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}