.mobile-nav-logo .logo {
  display: flex;
  padding: 15px;
}

.topnav {
  top: 0;
  position: fixed;
  z-index: 20;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.topnav a.icon {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.links-container a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
}

.icon {
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

.navbar-container {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  top: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 20;
}

.navbar-logo {
  height: auto;
  width: 47px;
}

* {
  margin: 0;
}

nav ul {
  list-style: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  padding: 15px;
}

nav ul li {
  float: left;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00cac4;
}

.header-icons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icons a img {
  width: 20px;
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
  .topnav {
    display: none;
  }

  .navbar-container {
    display: block;
  }
}