.card-1,
.card-2,
.card-3 {
    padding: 15px
}

.card-content {
    border-radius: 15px
}

.card-text-container {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border-radius: 15px 15px 0 0
}

.card-img .img-container img {
    border-radius: 0 0 15px 15px
}

.card-radius {
    border-radius: 0 0 15px 15px
}

.cards-container {
    display: none
}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
    background-color: #0b0b0b
}

@media screen and (min-width:992px) {
    .slider-sm-container {
        display: none
    }

    .card-text {
        padding: 10px 15px
    }

    .card-text-container {
        height: 250px;
        padding: 0
    }

    .cards-container {
        padding-top: 70px;
        padding-bottom: 70px;
        display: block
    }
}

@media screen and (min-width:1400px) {
    .card-text {
        padding: 10px
    }
}

/*CONTACTS*/
.background-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    background-image: linear-gradient(rgba(1, 1, 1, .5), rgba(1, 1, 0, 2)), url(../../media/team.webp);
    background-position: 50% 50%;
    overflow: hidden;
    box-sizing: content-box;
    padding: 150px 0;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0)
}

.contact-content {
    background-image: url(../../media/team.webp);
    width: 80%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

.contact-text {
    padding: 10px 25px;

    h2 {
        text-align: left
    }
}

.contact-mail {
    text-align: center;
    padding: 30px 0
}

.contact-mail a {
    text-align: center;
    font-size: 20px;
    text-decoration: none
}

.contact-mail a :hover {
    color: #00cac4
}

@media screen and (min-width:768px) {
    .contact-mail a {
        font-size: 25px
    }
}

@media screen and (min-width:992px) {
    .contact-text {
        padding: 10px 35px
    }
}

@media screen and (min-width:1200px) {
    .background-fluid {
        padding: 180px 0
    }

    .contact-content {
        width: 60%
    }

    .contact-mail a {
        font-size: 30px
    }
}

/*CONTACTS*/
/*HERO*/
.hero {
    padding-top: 70px;
    padding-bottom: 60
}

.h1-container {
    margin-top: 50px
}

.h1-container h1 {
    line-height: 50px
}

.typewrite {
    font-weight: bolder
}

.hero-logo-container {
    margin-top: 40px;
    margin: 0 auto
}

.hero-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-button {
    background: rgba(0, 160, 155, .6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    color: #fff;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 60px 10px 60px;
    font-family: Poppins, sans-serif
}

.hero-button:hover {
    background-color: #01a09a
}

@media screen and (min-width:768px) {
    .hero-button {
        padding: 10px 40px 10px 40px
    }

    .hero-logo-container {
        width: 440px
    }

    .hero {
        padding-top: 120px
    }
}

@media screen and (min-width:992px) {
    .hero-button {
        padding: 10px 60px 10px 60px
    }

    .hero-logo-container {
        width: 100%
    }

    .h1-container h1 {
        line-height: 75px
    }
}

@media screen and (min-width:1200px) {
    .hero-button {
        padding: 10px 90px 10px 90px;
        margin-top: 30px
    }
}

/*HERO*/
/*MAP*/
.map-main-container {
    padding-top: 0;
    padding-bottom: 60px
}

.map-tittle {
    display: flex;
    align-items: center;
    justify-content: center
}

.iframe-container {
    text-align: center
}

.map-tittle-small+.iframe-container {
    margin-top: 30px
}

.map-tittle {
    display: none
}

#map-container {
    padding: 0;
    overflow: hidden
}

iframe {
    filter: grayscale(100%) invert(92%) contrast(83%);
    padding: 0;
    height: 300px;
    width: 100%
}

.map-container {
    text-align: center
}

.xl-map-img-container {
    display: none
}

.map-container div+p {
    margin-top: 20px
}

.xl-map-img-container {
    position: relative
}

.hover-image {
    height: auto;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: brightness(0) invert(1);
    transition: opacity 0.3s ease
}

.xl-map-img-container:hover .hover-image {
    opacity: 7
}

.iframe-container p {
    margin-top: 20px
}

@media screen and (min-width:992px) {
    .xs-map-img-container {
        display: none
    }

    .xl-map-img-container {
        display: block
    }

    .map-tittle {
        display: block;
        display: flex;
        align-items: center
    }

    .map-tittle-small {
        display: none
    }
}

.fake {
    display: block
}

.real {
    display: none
}

/*MAP*/
/*SLIDER*/
#slider {
    position: relative;
    height: 400px;
    width: 60%;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d
}

input[type=radio] {
    position: relative;
    top: 100%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: .4;
    transform: translateX(-83px);
    cursor: pointer;
    display: none
}

input[type=radio]:nth-child(5) {
    margin-right: 0
}

input[type=radio]:checked {
    opacity: 1
}

#slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    border: none
}

#slider label img {
    border-radius: 15px
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    transform: translate3d(0%, 0, 0)
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    transform: translate3d(15%, 0, -100px)
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    transform: translate3d(30%, 0, -250px)
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    transform: translate3d(-30%, 0, -250px)
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    transform: translate3d(-15%, 0, -100px)
}

.slider-main-container {
    padding-top: 0;
    padding-bottom: 0
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center
}

.portafolio {
    font-weight: bolder
}

.slider-text-container {
    margin-top: 30px
}

.slider-text {
    width: 70%;
    margin: 0 auto
}

.slider-text p {
    text-align: center
}

.slider-img-size {
    height: 336px;
    width: 226px
}

@media screen and (min-width:768px) {
    .slider-img-size {
        height: 555px;
        width: 372px
    }

    .slider-main-container {
        padding-top: 50px
    }

    .tittle-col+.slider-col {
        margin-top: 0
    }

    #slider {
        height: 600px
    }
}

@media screen and (min-width:992px) {
    .slider-img-size {
        height: 375px;
        width: 250px
    }

    .slider-main-container {
        padding-top: 0
    }

    .col-text {
        padding: 0
    }
}

@media screen and (min-width:1200px) {
    .slider-img-size {
        height: 465px;
        width: 312px
    }
}

@media screen and (min-width:1400px) {
    .slider-img-size {
        height: 546px;
        width: 366px
    }
}

/*SLIDER*/