.card-1,
.card-2,
.card-3 {
  padding: 15px;
}

.card-content {
  border-radius: 15px;
}

.card-text-container {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border-radius: 15px 15px 0px 0px;
}

.card-img .img-container img {
  border-radius: 0px 0px 15px 15px;

}

.cards-container {
  display: none;
}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
  background-color: #0b0b0b;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
  .slider-sm-container {
    display: none;
  }

  .card-text {
    padding: 10px 15px;
  }

  .card-text-container {
    height: 250px;
    padding: 0;
  }

  .cards-container {
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {
  .card-text {
    padding: 10px;
  }
}