.typewrite {
    font-weight: bolder;
}

.hero-logo-container {
    margin-top: 40px;
}

.hero-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-button {
    background: rgba(0, 160, 155, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    color: white;
    margin-top: 18px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 60px 10px 60px;
    font-family: Poppins, sans-serif;
}

.hero-button:hover {
    background-color: #01a09a;
}

@media screen and (min-width: 768px) {
    .hero-button {
        padding: 10px 40px 10px 40px;
    }

    .hero {
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    .hero-button {
        padding: 10px 60px 10px 60px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-button {
        padding: 10px 90px 10px 90px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1400px) {}