.map-main-container {
    padding-top: 0;
    padding-bottom: 60px;
}

.map-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframe-container {
    text-align: center;
}

.map-tittle-small+.iframe-container {
    margin-top: 30px;
}

.map-tittle {
    display: none;
}

#map-container {
    padding: 0;
    overflow: hidden;
}

iframe {
    filter: grayscale(100%) invert(92%) contrast(83%);
    padding: 0;
    height: 300px;
    width: 100%;
}

.map-container {
    text-align: center;
}

.xl-map-img-container {
    display: none;
}

.map-container div+p {
    margin-top: 20px;
}

.xl-map-img-container {
    position: relative;
}

.hover-image {
    height: auto;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: brightness(0) invert(1);
    transition: opacity 0.3s ease;
}

.xl-map-img-container:hover .hover-image {
    opacity: 7;
}

.iframe-container p {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {


    .xs-map-img-container {
        display: none;
    }

    .xl-map-img-container {
        display: block;
    }

    .map-tittle {
        display: block;
        display: flex;
        align-items: center;
    }

    .map-tittle-small {
        display: none;
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}

.fake {
    display: none;
}

.real {
    display: block;
}